<div class="container">
    <main>
      <section class="hero">
        <h1>Predice la Demanda de la Línea 1 del Metro de Lima</h1>
        <p>Mantente un paso adelante.</p>
        <p>Con nuestro sistema conoce la demanda de pasajeros en todas las estaciones.</p>
        <div class="cta-buttons">
          <button class="btn btn-primary"(click)="navigateToRegister()">Comenzar</button>
          <button class="btn btn-secondary"(click)="navigateToAbout($event)">Saber más</button>
        </div>
      </section>

      <section class="features">
        <div class="feature">
          <img src="assets/icon1.png" alt="Predicción de Multitudes">
          <h3>Predicción de Multitudes</h3>
          <p>Predicción precisa del volumen de pasajeros en cada estación</p>
        </div>
        <div class="feature">
          <img src="assets/icon2.png" alt="Predicciones basadas en tendencias">
          <h3>Predicciones basadas en tendencias</h3>
          <p>Datos actualizados para tomar decisiones informadas en viaje</p>
        </div>
        <div class="feature">
          <img src="assets/icon3.png" alt="Análisis de Demanda">
          <h3>Análisis de Demanda</h3>
          <p>Comprende los patrones a largo plazo en la demanda de pasajeros</p>
        </div>
      </section>

      <section class="metro-map">
  <div class="metro-map-content">
    <div class="metro-map-text">
      <h2> &nbsp; &nbsp; &nbsp; Línea 1 del Metro de Lima</h2>
      <p> &nbsp; &nbsp; &nbsp; &nbsp; Nuestro sistema de predicción cubre las 26 estaciones de la Línea 1 desde Villa &nbsp; &nbsp; &nbsp; &nbsp; El Salvador hasta Bayóvar. Planifica tu viaje con confianza utilizando nuestro &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sistema.</p>
      <div class="cta-buttons">
        <button class="btn btn-primary"(click)="navigateToPredictions($event)">Ver predicciones</button>
        <button class="btn btn-secondary"(click)="navigateToAbout($event)">Conoce Nuestra Tecnología</button>
      </div>
    </div>
    <img src="assets/image2.jpeg" alt="Mapa de la Línea 1 del Metro de Lima" class="metro-map-img">
  </div>
</section>

<section class="faq">
  <h3>FAQ</h3>
  <p>Aquí hay algunas respuestas que podrían ayudarte:</p>
  <div class="faq-content">
    <!-- Puedes incluir preguntas y respuestas aquí -->
  </div>
</section>
    </main>
  </div>