<div class="container">
    <h1>Acerca de SubeYa!</h1>
    
    <section>
      <h2>Nuestro Proyecto</h2>
      <p>SubeYa! es un proyecto innovador diseñado para predecir la demanda de pasajeros en la Línea 1 del Metro de Lima. Utilizamos tecnología de vanguardia y datos históricos para proporcionar predicciones precisas y útiles.</p>
    </section>

    <section>
      <h2>Nuestro Equipo</h2>
      <div class="team-members">
        <div class="team-member">
          <h3>Annsherly Acuña</h3>
          <img src="assets/image3.png" alt="Annsherly Acuña">
          <p>Estudiante de Ingeniería de Sistemas de Información</p>
          <p>Universidad Peruana de Ciencias Aplicadas (UPC)</p>
        </div>
        <div class="team-member">
          <h3>Angelo Meza</h3>
          <img src="assets/image4.jpeg" alt="Angelo Meza">
          <p>Estudiante de Ingeniería de Sistemas de Información</p>
          <p>Universidad Peruana de Ciencias Aplicadas (UPC)</p>
        </div>
      </div>
    </section>

    <section>
      <h2>Nuestro Modelo</h2>
      <h3>Tecnología de Predicción</h3>
      <p>Utilizamos Prophet, una poderosa herramienta de pronóstico desarrollada por Facebook. Prophet es especialmente eficaz para predecir series temporales con fuertes efectos estacionales y múltiples temporadas de datos históricos.</p>
      <p>Nuestro modelo se entrena con datos históricos públicos proporcionados por OSITRAN (Organismo Supervisor de la Inversión en Infraestructura de Transporte de Uso Público), lo que nos permite ofrecer predicciones precisas y confiables.</p>
    </section>

    <section>
      <h2>Fuente de Datos</h2>
      <h3>Datos Históricos de OSITRAN</h3>
      <p>Los datos históricos utilizados para nuestras predicciones son públicos y están disponibles a través del portal de OSITRAN. Estos datos nos proporcionan una base sólida para nuestros análisis y predicciones.</p>
      <p>Puedes acceder a estos datos en el siguiente enlace:</p>
      <a href="https://serviciosdigitales.ositran.gob.pe:8443/PortalDatosOsitran/reporte.jsp?code=22" target="_blank" class="btn btn-primary">Portal de Datos OSITRAN</a>
    </section>
  </div>